{{!< main pageTitle="Home Page" }}

<h1 style="text-align: center;">Home Page</h1>
<p style="text-align: left;">Preencha o url do site no form ao lado para extrair a tabela.</p>

<div style="float: right;">
    <form action="/result" method="POST">
        <!-- Seus campos de formulário aqui -->
        <input type="text" name="URL" placeholder="Digite a URL que contem a tabela que quer extrair">
        <input type="email" name="email" placeholder="Email">
        <button type="submit">Enviar</button>
    </form>
</div>
